<!DOCTYPE html>
<html lang="es">
    <head>
        {{> shared/metadata }}
        {{> shared/title }}
        {{> shared/styles }}
    </head>
    <body data-bs-theme="light">
        {{> shared/navigation }}
        {{{body}}}
        <script src="./js/bootstrap.bundle.min.js" defer></script>
    </body>
</html>
