<div class="card-header container">
    <div class="row mt-2 mb-2">
        <div class="col">
            <input type="text" id="screen" class="ea-result form-control fs-1 text-end" value="0." readonly>
        </div>
    </div>
</div>
