<div class="tab-pane fade show active" id="nav-section-one" role="tabpanel" aria-labelledby="nav-section-one-tab" tabindex="0">
    <section class="mt-4">
        <h2>Introducción</h2>
        <p class="lead">Primer programa en JavaScript.</p>
    </section>
</div>
