<nav class="navbar navbar-expand-xl shadow">
    <div class="container-sm">
        <a class="navbar-brand" href="#">
            <img alt="Udemy" src="./images/logo-udemy.svg" width="90" height="35">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
