<header class="navbar fixed-top bg-body-tertiary shadow">
    <div class="container">
        <a class="navbar-brand ms-3" href="#">
            <img src="/images/logo-udemy.svg" alt="Logo" width="91" height="34" class="d-inline-block align-text-top">
            <span class="ms-3">Introducción a la programación con JavaScript</span>
        </a>
    </div>
</header>
