<div class="card-body"></div>
<template id="buttonsrow">
    <div class="col-3 d-grid"></div>
</template>
<template id="button">
    <div class="col-3 d-grid">
        <button type="button" class="fw-semibold btn"></button>
    </div>
</template>
